html {
    margin: auto 15%;
}

.card-grid div {
    border: solid;
    color: black;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.row-grid {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    gap: 15px;
}

.row-grid img {
    width: 100%;
    max-height: 70%;
    border-radius: 13px 13px 0px 0px;
}

.col-grid {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    gap: 15px;
}

.col-grid img {
    width: 100%;
    max-height: 75%;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 15px;
}